// COLOR VARIABLES
$color-primary: #41b3a3;
$color-primary-dark: #058372;

//FURTHER COLORS
$color-new-orange-dark: #e27d60;
$color-new-orange-light: #e8a87c;

$color-new-pink: #c38d9e;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito";
$font-display: "Josefin Sans", sans-serif;

//MEDIA BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
