.container {
  display: grid;

  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-largest) {
    grid-template-rows: 5.8rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [ full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 5.8rem calc(100vh - 5.8rem);
  }
}
